/* fonts */
:root {
  --ff: "Merriweather";
  --ff2: "Golos Text";

  --fs: 20;
  --lh: 1.2;
}

/* colors */
:root {
  --white:       #fff;
  --black:       #1F1F1F;
  --gray:        #313131;
  --light-gray:  #D6D6D6;
  --red:         #F54932;
  --blue:        #3057A2;
  --yellow:      #FBCE51;
}

/* grid */
:root {
  --wr_pad:    20px;                  
  --page_wr:   calc(1180px + (var(--wr_pad)*2));
}

/* animation */
:root {
  --as: 0.45s; 
  --ae: ease-out;  

  --a: var(--as) var(--ae);
}
